@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,300&display=swap");
/* line 1, ../../../Desktop/27300/scss/_variales.scss */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  font-style: normal;
  box-sizing: border-box;
}

/* line 27, ../../../Desktop/27300/scss/_variales.scss */
.texto2, .subtitulo, .texto {
  font-family: 'Poppins';
}

/*$miMap: (light: 200, normal: 300, bold: 500);*/
/* line 1, ../../../Desktop/27300/scss/_variales.scss */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  font-style: normal;
  box-sizing: border-box;
}

/* line 27, ../../../Desktop/27300/scss/_variales.scss */
.texto2, .subtitulo, .texto {
  font-family: 'Poppins';
}

/*$miMap: (light: 200, normal: 300, bold: 500);*/
/* line 2, ../../../Desktop/27300/scss/servicios.scss */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media (min-width: 100px) and (max-width: 575px) {
  /* line 2, ../../../Desktop/27300/scss/servicios.scss */
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  /* line 2, ../../../Desktop/27300/scss/servicios.scss */
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  /* line 2, ../../../Desktop/27300/scss/servicios.scss */
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  /* line 2, ../../../Desktop/27300/scss/servicios.scss */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  /* line 2, ../../../Desktop/27300/scss/servicios.scss */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* line 22, ../../../Desktop/27300/scss/servicios.scss */
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 2.5px;
  margin: 5px;
  color: #EDEDED;
}

/* line 40, ../../../Desktop/27300/scss/servicios.scss */
.card-category1 {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 2.5px;
  margin: 5px;
}

/* line 57, ../../../Desktop/27300/scss/servicios.scss */
.img1 {
  background-image: url("../imagenes/servicios/desarrollo.jpg");
}

/* line 60, ../../../Desktop/27300/scss/servicios.scss */
.img2 {
  background-image: url("../imagenes/servicios/codigo.jpg");
}

/* line 63, ../../../Desktop/27300/scss/servicios.scss */
.img3 {
  background-image: url("../imagenes/servicios/calendario.jpg");
}

/* line 66, ../../../Desktop/27300/scss/servicios.scss */
.img4 {
  background-image: url("../imagenes/servicios/trabajo.jpg");
}

/* line 69, ../../../Desktop/27300/scss/servicios.scss */
.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 8px;
}

/* line 79, ../../../Desktop/27300/scss/servicios.scss */
.flash-success {
  border: 2px solid #1EDD88;
}

/* line 82, ../../../Desktop/27300/scss/servicios.scss */
.flash-warning {
  border: 2px solid #FFC65A;
}

/* line 85, ../../../Desktop/27300/scss/servicios.scss */
.flash-danger {
  border: 2px solid #FD1015;
}

/* line 88, ../../../Desktop/27300/scss/servicios.scss */
.texto2 {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: black;
  line-height: 1.5;
  margin: 3%;
  text-align: center;
}

/* line 1, ../../../Desktop/27300/scss/footer.scss */
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
}

/* line 10, ../../../Desktop/27300/scss/footer.scss */
.footer-links {
  display: flex;
  align-items: center;
}

/* line 14, ../../../Desktop/27300/scss/footer.scss */
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

/* line 21, ../../../Desktop/27300/scss/footer.scss */
.footer-links a:hover {
  opacity: 1;
}

/* line 24, ../../../Desktop/27300/scss/footer.scss */
.footer .fa-heart {
  color: #D23333;
}

/* line 1, ../../../Desktop/27300/scss/trabajos.scss */
.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
}

/* line 6, ../../../Desktop/27300/scss/trabajos.scss */
.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

/* line 11, ../../../Desktop/27300/scss/trabajos.scss */
.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

/* line 16, ../../../Desktop/27300/scss/trabajos.scss */
.card-product p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

/* line 24, ../../../Desktop/27300/scss/trabajos.scss */
.ajuste {
  margin: 5px;
  padding: 5px;
}

/* line 29, ../../../Desktop/27300/scss/trabajos.scss */
.card-product .card-product-infos {
  padding: 16px;
}

/* line 32, ../../../Desktop/27300/scss/trabajos.scss */
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 5px;
}

/* line 39, ../../../Desktop/27300/scss/trabajos.scss */
.avatars {
  width: 83px;
  border-radius: 50%;
  padding: 1px;
}

/* line 1, ../../../Desktop/27300/scss/_contacto.scss */
.formulario {
  margin: 20px;
  padding: 5px;
  text-align: center;
}

/* line 8, ../../../Desktop/27300/scss/estilos.scss */
.titulo {
  font-family: 'Poppins';
  font-style: normal;
  color: #191A19;
  text-align: center;
  background-image: url("../imagenes/bannerr.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-size: cover;
  padding: 150px;
}

@media screen and (max-width: 64em) {
  /* line 8, ../../../Desktop/27300/scss/estilos.scss */
  .titulo {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 50em) {
  /* line 8, ../../../Desktop/27300/scss/estilos.scss */
  .titulo {
    font-size: 5em;
  }
}

@media screen and (max-width: 30em) {
  /* line 8, ../../../Desktop/27300/scss/estilos.scss */
  .titulo {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  /* line 8, ../../../Desktop/27300/scss/estilos.scss */
  .titulo {
    font-size: 5em;
  }
}

/* line 32, ../../../Desktop/27300/scss/estilos.scss */
.subtitulo {
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  color: #4B5D67;
  text-align: center;
  line-height: 1.5;
  margin: 1%;
}

/* line 42, ../../../Desktop/27300/scss/estilos.scss */
.texto {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #322F3D;
  line-height: 1.5;
  margin: 2%;
}

/* line 51, ../../../Desktop/27300/scss/estilos.scss */
.menu {
  background-color: #d47ae8;
  float: center;
  align-content: center;
  text-align: center;
  margin: 10px;
  padding: 0px;
}

/* line 59, ../../../Desktop/27300/scss/estilos.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 64, ../../../Desktop/27300/scss/estilos.scss */
ul li {
  display: inline-block;
}

/* line 67, ../../../Desktop/27300/scss/estilos.scss */
ul li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
}

/* line 79, ../../../Desktop/27300/scss/estilos.scss */
ul li:hover {
  background-color: #a8ece7;
}

/* line 83, ../../../Desktop/27300/scss/estilos.scss */
#box1 {
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  color: black;
  text-align: center;
  line-height: 1.5;
  padding: 15px;
  margin: 25px;
  background-color: #D6E5FA;
}

/* line 95, ../../../Desktop/27300/scss/estilos.scss */
.border {
  outline: 10px dashed pink;
  box-shadow: 0px 0px 0px 10px magenta;
  transition: all 1s;
}

/* line 99, ../../../Desktop/27300/scss/estilos.scss */
.border:hover {
  outline-color: pink;
  box-shadow: 0 0 0 10px SkyBlue;
}

/* line 104, ../../../Desktop/27300/scss/estilos.scss */
.box {
  text-decoration: none;
  background-color: #e2c2b9;
  padding: 35px 60px;
  border-radius: 8px;
  text-align: center;
  margin: 20px auto;
  width: 400px;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 500;
}

/* line 107, ../../../Desktop/27300/scss/estilos.scss */
.flex-container {
  display: flex;
  background-image: url("../imagenes/fondo.png");
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* line 113, ../../../Desktop/27300/scss/estilos.scss */
.flex-container .flex-item1 {
  background-color: white;
  width: 90%;
  margin: 20px;
  min-height: 50vh;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
}

/* line 122, ../../../Desktop/27300/scss/estilos.scss */
.flex-container .flex-item2 {
  background-color: white;
  width: 90%;
  margin: 20px;
  min-height: 50vh;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
  border: -1;
}

/* line 132, ../../../Desktop/27300/scss/estilos.scss */
.flex-container .flex-item3 {
  background-color: white;
  width: 90%;
  margin: 20px;
  min-height: 50vh;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
  border: -1;
}

/* line 143, ../../../Desktop/27300/scss/estilos.scss */
.cuadro {
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 450;
  font-style: normal;
  color: black;
  text-align: center;
  background-color: SkyBlue;
  line-height: 1.5;
  padding: 15px;
  margin: 25px;
}

/* line 155, ../../../Desktop/27300/scss/estilos.scss */
.icono {
  background-image: url("../imagenes/icono.jpg");
}

/* line 158, ../../../Desktop/27300/scss/estilos.scss */
.avatar1 {
  width: 48px;
  position: fixed;
  float: right;
  top: -83px;
  right: 0;
  margin: 50px;
  padding: 41px;
}

/* line 167, ../../../Desktop/27300/scss/estilos.scss */
.avatars1 {
  width: 48px;
  border-radius: 50%;
  padding: 1px;
}

/* line 172, ../../../Desktop/27300/scss/estilos.scss */
.img5 {
  background-image: url("../imagenes/img5.jpg");
}

/*# sourceMappingURL=estilos.css.map */