@import "variales";
@import "servicios";
@import "footer";
@import "trabajos";
@import "contacto";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,300&display=swap');

.titulo {
	font-family: 'Poppins';
	font-style: normal;
	color: #191A19;
	text-align: center;
	background-image: url('../imagenes/bannerr.jpg');
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	background-size: cover;
	padding: 150px;
	@media screen and (max-width: 64em) {
    font-size: 2.5em;
  	}
	@media screen and (max-width: 50em) {
    font-size: 5em;
	}
	@media screen and (max-width: 30em){
    font-size: 2em;
	}
	@media (min-width:768px){
  	font-size: 5em;
  	}
}
.subtitulo {
	@extend %letras;
	font-size: 35px;
	font-weight: 400;
	font-style: normal;
	color: #4B5D67;
	text-align: center;
	line-height: 1.5;
	margin: 1%;
}
.texto {
	@extend %letras;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	color: #322F3D;
	line-height: 1.5;
	margin: 2%;
}
.menu{
	background-color: rgb(212, 122, 232);
	float: center;
	align-content: center;
	text-align: center;
	margin: 10px;
	padding: 0px;
	}
	ul{
	list-style: none;
	margin: 0;
	padding: 0;
	}
	ul li{
	display: inline-block;
	}
	ul li a{
	text-decoration: none;
	color: black;
	display: block;
	padding: 20px 20px;
	text-decoration: none;
	font-family: 'Poppins';
	font-size: 20px;
	font-weight: 300;
	font-style: normal;
	}
	ul li{
	&:hover{
		@include color;
	}
}
#box1 {
	font-family: 'Poppins';
	font-size: 20px;
	font-weight: map-get($map, bold);
	font-style: normal;
	color: black;
	text-align: center;
	line-height: 1.5;
	padding: 15px;
	margin: 25px;
	background-color: #D6E5FA;
}
.border{
	outline: 10px dashed pink;
    box-shadow: 0px 0px 0px 10px magenta;
    transition: all 1s;
    &:hover{
    	outline-color: pink;
    	box-shadow: 0 0 0 10px SkyBlue;
    }
}
.box {
	@include cuadrado;
}
.flex-container {
  	display: flex;
	background-image: url('../imagenes/fondo.png');
  	justify-content: center;
  	align-items: center;
 	flex-direction: row;
	.flex-item1 {
  	background-color: white;
 	width: 90%;
  	margin: 20px;
  	min-height: 50vh;
  	text-align: center;
  	line-height: 1.5;
  	font-size: 18px;
  	}
	.flex-item2 {
 	background-color: white;
  	width: 90%;
  	margin: 20px;
  	min-height: 50vh;
  	text-align: center;
  	line-height: 1.5;
  	font-size: 18px;
  	border: -1;
  	}
  	.flex-item3 {
 	background-color: white;
  	width: 90%;
  	margin: 20px;
  	min-height: 50vh;
  	text-align: center;
  	line-height: 1.5;
  	font-size: 18px;
  	border: -1;
  	}
}
.cuadro {
	font-family: 'Poppins';
	font-size: 30px;
	font-weight: 450;
	font-style: normal;
	color: black;
	text-align: center;
	background-color: SkyBlue; 
	line-height: 1.5;
	padding: 15px;
	margin: 25px;
}
.icono{
	background-image: url('../imagenes/icono.jpg');
}
.avatar1{
	width:48px;
	position:fixed;
	float: right;
	top: -83px;
	right: 0;
	margin: 50px;
	padding: 41px;
}
.avatars1 {
  width: 48px;
  border-radius: 50%;
  padding: 1px;
}
.img5{
  background-image: url('../imagenes/img5.jpg');
}
.border1{
	border: 1px solid black;
}
.cards2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  @media (min-width: 100px) and (max-width: 575px) {
    grid-template-columns: 1fr;
  }
  @media (min-width: 576px) {
      grid-template-columns: 1fr;
    }
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.card-category2 {
	font-family:'Poppins';
	background-size: cover;
	background-position: center;
	height: 180px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 24px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	padding: 2.5px;
	margin: 5px;
	color: #222831;
	background-image: url('../imagenes/fondo.jpg');
	&:hover{
		opacity: 0.5;
  }
}