@import "variales";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,300&display=swap');

.titulo {
	font-family: 'Poppins';
	font-style: normal;
	color: white;
	text-align: center;
	background-image: url('../imagenes/home5.png');
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	background-size: cover;
	padding: 150px;
	@media screen and (max-width: 64em) {
    font-size: 2.5em;
  	}
	@media screen and (max-width: 50em) {
    font-size: 5em;
	}
	@media screen and (max-width: 30em){
    font-size: 2em;
	}
	@media (min-width:768px){
  	font-size: 5em;
  	}
}
.subtitulo {
	font-family: 'Poppins';
	font-size: 35px;
	font-weight: 400;
	font-style: normal;
	color: rgb(216, 58, 86);
	text-align: center;
	line-height: 1.5;
	margin: 3%;
}
.texto {
	font-family: 'Poppins';
	font-size: 18px;
	font-weight: 300;
	font-style: normal;
	color: black;
	line-height: 1.5;
	margin: 3%;
}
.menu{
	background-color: rgb(212, 122, 232);
	float: center;
	align-content: center;
	text-align: center;
	}
	ul{
	list-style: none;
	margin: 0;
	padding: 0;
	}
	ul li{
	display: inline-block;
	}
	ul li a{
	text-decoration: none;
	color: black;
	display: block;
	padding: 20px 20px;
	text-decoration: none;
	font-family: 'Poppins';
	font-size: 20px;
	font-weight: 300;
	font-style: normal;
	}
	ul li{
	&:hover{
		background-color: rgb(168, 236, 231);
	}
}
#box1 {
	font-family: 'Poppins';
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	color: black;
	text-align: center;
	line-height: 1.5;
	padding: 15px;
	margin: 25px;
	background-image: url('../imagenes/fondo.png');
}
.border{
	outline: 10px dashed pink;
    box-shadow: 0px 0px 0px 10px magenta;
    transition: all 1s;
    &:hover{
    	outline-color: pink;
    	box-shadow: 0 0 0 10px SkyBlue;
    }
}
.box {
	text-decoration: none;
	background-color: rgb(226, 194, 185);
	padding: 35px 60px;
	border-radius: 8px;
	text-align: center;
	margin: 20px auto;
	width: 400px;
	font-family: 'Poppins';
	font-size: 20px;
	font-weight: 500;
}
.flex-container {
  	display: flex;
	background-image: url('../imagenes/fondo.png');
  	justify-content: center;
  	align-items: center;
 	flex-direction: row;
	.flex-item1 {
  	background-color: white;
 	width: 90%;
  	margin: 20px;
  	min-height: 50vh;
  	text-align: center;
  	line-height: 1.5;
  	font-size: 18px;
  	}
	.flex-item2 {
 	background-color: white;
  	width: 90%;
  	margin: 20px;
  	min-height: 50vh;
  	text-align: center;
  	line-height: 1.5;
  	font-size: 18px;
  	border: -1;
  	}
  	.flex-item3 {
 	background-color: white;
  	width: 90%;
  	margin: 20px;
  	min-height: 50vh;
  	text-align: center;
  	line-height: 1.5;
  	font-size: 18px;
  	border: -1;
  	}
}
.cuadro {
	font-family: 'Poppins';
	font-size: 30px;
	font-weight: 450;
	font-style: normal;
	color: black;
	text-align: center;
	background-color: SkyBlue; 
	line-height: 1.5;
	padding: 15px;
	margin: 25px;
}

